//define parameters
 params.vcf_file = "/home/ckitching/lustre/nf_pipeline/vcf_test/madcap_test2.vcf.gz" //path/to/vcf/file
 params.indx_file = "/home/ckitching/lustre/nf_pipeline/vcf_test/madcap_test2.vcf.gz.csi" //path/to/csi/file
 params.annovar_db = "/home/ckitching/lustre/anno/humandb"
 params.mod = "$projectDir/weighted_rf_18-07.rds"
 params.build = "hg19"
params.outdir = "results"

//containers
process { 
    withName: 'SPLIT|FILTER' {
        container = 'bcftools_cont.sif'
    }
    withName: 'ML' {
        container = 'r_cont.sif'
    }

}


singularity.enabled = true
singularity.autoMounts = true


