//define parameters
 params.vcf_file = null //path/to/vcf/file
 params.indx_file = null //path/to/csi/file
 params.annovar_db = null //path/to/annovar/humandb
 params.mod = "$projectDir/weighted_rf_18-07.rds"
 params.build = "hg19"
params.outdir = "results"

//containers
process { 
    withName: 'SPLIT|FILTER' {
        container = 'bcftools_cont.sif'
    }
    withName: 'ML' {
        container = 'r_cont.sif'
    }

}


singularity.enabled = true
singularity.autoMounts = true


