//define parameters
 params.vcf_file = "$projectDir/Example/test_sample_filt.vcf.gz" //change this to your path/to/vcf/file
 params.indx_file = "$projectDir/Example/test_sample_filt.vcf.gz.csi" //change this to your path/to/csi/file
 params.annovar_db = null //change this to your path/to/annovar/humandb
 params.mod = "$projectDir/weighted_rf_18-07.rds"
 params.build = "hg19" // change this to your genome build
params.outdir = "results" // change this to your desired output directory name

//containers
process { 
    withName: 'SPLIT|FILTER' {
        container = 'bcftools_cont.sif'
    }
    withName: 'ML' {
        container = 'r_cont.sif'
    }

}


singularity.enabled = true
singularity.autoMounts = true


